DATABASE_URL=postgresql://user:password@34.39.145.55:5432/govbrnews

# Se tiver acesso IAP direto:
# DGB_MLFLOW_TRACKING_URI=https://destaquesgovbr-mlflow-klvx64dufq-rj.a.run.app

# Se estiver usando proxy local (gcloud run services proxy ... --port=8080):
DGB_MLFLOW_TRACKING_URI=http://localhost:8080
